body {
  margin: 0;
  min-width: 330px;
}

.header {
  height: 80px;
  }

nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.links {
  padding-right: 40px;
}

/* Main Section */

.main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  width: 720px;
  max-width: 75%;
}

.batcat {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* About Sections */

.about-boxes {
  background-color: #eeeeee;
  height: auto;
  max-width: 230px;
  display: inline;
  margin: 50px 30px;
  padding: 0px 30px 30px 30px;
}

.about-center {
  display: flex;
  justify-content: center;
}

/* Images */

.cat-pictures {
  text-align: center;
  padding-bottom: 50px;
}

.img-circle {
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

/* Contact */

.contact {
  background-color: #eeeeee;
  padding-top: 50px;
  overflow: hidden;
}

.contact-boxes {
  background-color: #ffffff;
  height: auto;
  width: 240px;
  display: inline;
  margin: 50px 30px;
  padding: 0px 30px 30px 30px;
}

.contact-text {
  text-align: left;
}

.address-box {
  display: inline-block;
  vertical-align: top;
}

.address-box h3 {
  padding: 0px;
  text-align: left;
}

.right{
  float: right;
}

.map {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

footer {
  background-color: #00897f;
  height: 100px;
  width: 100%;
}

/* Typography */

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.875em;
  color: #323232;
  margin: 0px;
  text-align: center;
}

h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 25px;
  text-align: center;
}

h3 {
  font-family: "PT Serif", serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  margin: 0px;
  padding-top: 20px;
}

p {
  font-family: "PT Serif", serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
  margin: 0px;
  text-align: left;
}

a {
  font-family: "PT Serif", serif;
  font-size: 1em;
  color: #f26522;
}

.nav-p {
  font-family: "PT Sans", sans-serif;
  font-size: .9em;
  color: #323232;
  display: inline;
}

.nav-h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #323232;
  display: inline;
  padding-left: 40px;
}

.footer-h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25em;
  color: #ffffff;
  padding-top: 40px;
}

/* On devices smaller than 585px */
@media screen and (max-width: 585px) {
  .nav-h1 {
    display: block;
    width: 100%;
    padding: 20px 0px;
    font-size: 32px;
  }

  .nav-p {
    display: none;
  }

  .about-center {
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
  }

  .about-boxes {
    margin: 0px;
  }

  .contact-boxes {
    width: 100%;
    background-color: #eeeeee;
    margin: 0px;
  }

  .contact-text {
    text-align: center;
  }

  .right {
    text-align: center;
  }

 .address-box h3 {
   text-align: center;
 }


/* On devices wider than 875px */
@media screen and (max-width: 875px) {

}
