body {
  margin: 0;
}

/* Typography */

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.875em;
  color: #323232;
}

h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}

h3 {
  font-family: "PT Serif", serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}

p {
  font-family: "PT Serif", serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}

a {
  font-family: "PT Serif", serif;
  font-size: 1em;
  color: #f26522;
}

nav-p {
  font-family: "PT Sans", sans-serif;
  font-size: .9em;
  color: #323232;
}

nav-h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #323232;
}

footer-h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25em;
  color: #323232;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
