body {
  margin: 0;
}

.header {
  height: 80px;
  }

nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.links {
  padding-right: 40px;
}

/* Main Section */

.main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  width: 720px;
}

.batcat {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* About Sections */

.about-boxes {
  background-color: #eeeeee;
  height: auto;
  width: 230px;
  display: inline;
  margin: 50px 30px;
  padding: 0px 30px 30px 30px;
}

.about-center {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Images */

.cat-pictures {
  text-align: center;
  padding-bottom: 50px;
}

.img-circle {
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

/* Contact */

.contact {
  background-color: #eeeeee;
  padding-top: 50px;
  overflow: hidden;
}

.contact-boxes {
  background-color: #ffffff;
  height: auto;
  width: 230px;
  display: inline;
  margin: 50px 30px;
  padding: 0px 30px 30px 30px;
}

.right {
  float: right;
}

.map {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

footer {
  background-color: #00897f;
  height: 100px;
  width: 100%;
}

/* Typography */

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.875em;
  color: #323232;
  margin: 0px;
  text-align: center;
}

h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 25px;
}

h3 {
  font-family: "PT Serif", serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  margin: 0px;
  padding-top: 20px;
}

p {
  font-family: "PT Serif", serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
  margin: 0px;
  text-align: left;
}

a {
  font-family: "PT Serif", serif;
  font-size: 1em;
  color: #f26522;
}

.nav-p {
  font-family: "PT Sans", sans-serif;
  font-size: .9em;
  color: #323232;
  display: inline;
}

.nav-h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #323232;
  display: inline;
  padding-left: 40px;
}

.footer-h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25em;
  color: #ffffff;
  padding-top: 40px;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
