body {
  margin: 0;
  min-width: 330px;
}

.header {
  height: 80px;
}

/* display: flex vs display: inline-flex */
nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%; // so nav takes full height of parent container header
}

.links {
  padding-right: 40px;
}

/* Main Section */

.main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  width: 720px;
  max-width: 75%;
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
  padding-top: 20px;
}

.batcat {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.batcat-mobile {
  display: none;
}

/* About Sections */

.about-boxes {
  background-color: #eeeeee;
  height: auto;
  max-width: 230px;
  display: inline;
  margin: 50px 30px;
  padding: 0px 30px 30px 30px;
}

.about-center {
  display: flex;
  justify-content: center;
}

/* Images */

.cat-pictures {
  text-align: center;
  padding-bottom: 50px;
}

/* could we make these one class? */
.img-cat1, .img-cat2, .img-cat3 {
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

/* Contact */

.contact {
  background-color: #eeeeee;
  padding-top: 50px;
  overflow: hidden;
}

.contact-center {
  display: flex;
  justify-content: center;
}

.contact-boxes {
  background-color: #ffffff;
  height: auto;
  max-width: 240px;
  display: inline;
  margin: 50px 30px;
  padding: 0px 30px 30px 30px;
}

.contact-text {
  text-align: left;
}

.address-box {
  display: inline-block;
  vertical-align: top;
}

.address-box h3 {
  padding: 0px;
  text-align: left;
}

.right {
  float: right;
}

.map {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

footer {
  background-color: #00897f;
  height: 100px;
  width: 100%;
}

/* Typography */

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.875em;
  color: #323232;
  margin: 0px;
  text-align: center;
}

h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 25px;
  text-align: center;
}

h3 {
  font-family: "PT Serif", serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  margin: 0px;
  padding-top: 20px;
}

p {
  font-family: "PT Serif", serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
  margin: 0px;
  text-align: left;
}

a {
  font-family: "PT Serif", serif;
  font-size: 1em;
  color: #f26522;
}

.nav-p {
  font-family: "PT Sans", sans-serif;
  font-size: .9em;
  color: #323232;
  display: inline;
}

.nav-h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #323232;
  display: inline;
  padding-left: 40px;
}

.footer-h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25em;
  color: #ffffff;
  padding-top: 40px;
}

/* On devices smaller than 585px */
@media screen and (max-width: 585px) {
  .nav-h1 {
    display: block;
    width: 100%;
    padding: 20px 0px;
    font-size: 32px;
  }

  .nav-p {
    display: none;
  }

  .batcat {
    display: none;
  }

  .batcat-mobile {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .about-center {
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;

  }

  .about-boxes {
    margin: 0px;
    max-width: 100%;
  }

  .main-text {
    max-width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: normal;
  }

  .main {
    padding: 30px;
  }

  .contact-boxes {
    margin: 0px;
    max-width: 100%;
    background-color: #eeeeee;
  }

  .contact-center {
    flex-direction: column;
    align-items: center;
  }

  /* then if we need them individually use ids */
  .img-cat1, .img-cat2 {
    display: none;
  }

  .cat-pictures {
    padding-top: 50px;
  }

  p {
    font-size: 18px;
  }


}

/* On devices between 586 and 875*/
@media screen and (min-width: 586px) and (max-width: 875px) {

  .batcat {
    display: none;
  }

  .batcat-mobile {
    display: none;
  }

  /* then if we need them individually use ids */
  .img-cat3 {
    display: none;
  }
}

/* On devices wider than 875px */
@media screen and (min-width: 875px) {

  .batcat {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .batcat-mobile {
    display: none;
  }

  .batcat-mobile-tablet {
    display: none;
  }
}
